{% extends 'cards/wrapper.html' %}

{% block title %}
створення картки
{% endblock %}

{% block content %}

    <br>

    <div align="center">
        <div align="center">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-target="#exampleModal" data-toggle="modal" >На головну сторінку</button>

        </div>
    </div>

    <br>

    <div class="row justify-content-lg-center">
        <form action="{% url 'card_create_url' %}" method="post" style="width: 80%; align-content: center">
            {% csrf_token %}
            <hr>
            {% for field in form %}
                <div class="row">
                    <div class="col-3">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    </div>
                    <label class="col-2 col-form-label">{{ field.label }}</label>
                    <div class="col-6">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <br>
            <div align="center">
                <button type="submit" class="btn btn-primary">Створити картку</button>
            </div>
        </form>
    </div>

<!--                    ----- 1 MODAL MENU HOME PAGE -----                 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				Дані не будуть збережені. Ви впевнені?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal">НІ</button>
				<a href="/" class="btn btn-outline-danger btn-sm">ТАК</a>
			</div>
		</div>
	</div>
</div>



{% endblock %}