<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
		{% endblock %} | bmp
	</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/screen.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

</head>

<body>
	<div align="center">
		<img src="/static/images/logo.png">
	</div>
	<br>
	{% block content %}
	{% endblock %}

</body>
</html>
