body{
  background: #C8D2A0;
  font-size: small;
}
form{
  margin: 5px;
}
.row{
  margin-right: 1px;
  margin-left: 1px;
}

th{
  font-weight: normal;
  text-align: center;
}
#table_base_header{
  background: #bac493;
}
td, th{
  border: solid 1px #688d5e;
}
td{
  padding-left: 7px;
}
#personal_card{
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 10px;
}
#personal_card_header{
  font-size: 14px;
  padding: 10px;
  border: none;
}
#personal_card_cell{
  background: #9de09d;
  padding: 10px;
  border: none;
  color: #343a3e;
}
#pagination{
  position: center;
  display: flow;
}
.table-row:hover{
  cursor: pointer;
}

.page-item.active .page-link {
    background-color: #b3c68b !important;
    border: 1px solid #C8D2A0;
}
.page-link {
    color: black !important;
}

#search_table{
  border: none;
}
#search_table>tr>td{
  border: none;
  word-break: break-all;
}
