body{
  background: #C8D2A0;
  font-size: small;
}
form{
  margin: 5px;
}
hr{
  width: 80%;
}
.row{
  margin-right: 1px;
  margin-left: 1px;
}

th{
  font-weight: normal;
  text-align: center;
}
#table_base_header{
  background: #bac493;
}
td, th{
  border: solid 1px #688d5e;
}
td{
  padding-left: 7px;
}
.personal_card{
  width: 80%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #dfeccb;
  color: #656665;
  border: 16px solid #dfeccb;
  border-radius: 10px;
}
.personal_card_header{
  width: 40%;
  font-size: 14px;
  padding: 10px;
  border: none;
}
.personal_card_cell{
  background: #d3dfa8;
  padding: 10px;
  border: none;
  color: #22282c;
  font-size: 16px;
}
.personal_card_name{
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #dfeccb;
  color: #656665;
  border: 8px solid #dfeccb;
  border-radius: 5px;
}
.personal_card_header_name{
  width: 20%;
  font-size: 14px;
  padding: 10px;
  border: none;
}
.personal_card_cell_name{
  background: #d3dfa8;
  padding: 10px;
  border: none;
  color: #52595f;
  font-size: 18px;
  font-weight: bold;
}
#pagination{
  position: center;
  display: flow;
}
.table-row:hover{
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #b3c68b !important;
  border: 1px solid #C8D2A0;
}
.page-link {
  color: black !important;
}

#search_table{
  border: none;
}
#search_table>tr>td{
  border: none;
  word-break: break-all;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 10ms ease-out;
}
